<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if current_user %>
  Hello <%= current_user.email %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>

<% if current_user %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Repos</th>
      </tr>
    </thead>
    <% @repos.each do |repo| %>
      <tr>
        <% if repo.suspended? %>
          <td><%= link_to 'Reanimate', '#' %></td>
        <% else %>
          <td><%= link_to 'Suspend', suspend_repos_path(name: repo.name, owner: repo.owner.login), method: :post %></td>
        <% end %>
        <td><%= link_to repo.full_name, repo.html_url %></td>
        <td>Last updated <%= distance_of_time_in_words(Time.now, repo.pushed_at.to_time) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
