<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if current_user %>
  Hello <%= current_user.email %>
  <br/>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>

<% if current_user %>
  <table>
    <% @repos.each do |repo| %>
      <tr>
        <td><%= link_to 'Suspend', clone_repos_path(name: repo.name, user: repo.owner.login), method: :post %></td>
        <td><%= repo.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>
