<!DOCTYPE html>
<html>
<head>
  <title>Hypersleep</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
    <%= image_tag 'logo.png' %>
  </p>

<%= yield %>

</body>
</html>
